.project-landing {
  position: relative;
  #hero {
    position: relative;
    @media (max-width: 767px) {
      height: 52vw;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    h1 {
      position: absolute;
      top: 35%;
      left: 0;
      right: 0;
      color: #fff;
      letter-spacing: 4px;
      font-weight: 300;
      font-size: 42px;
      text-shadow: 0 0 27px #000;
      text-transform: uppercase;
      span {
        font-size: 28px;
        text-transform: initial;
        font-weight: 600;
      }
      @media (max-width: 767px) {
        font-size: 9vw;
        top: 30%;
        line-height: 1em;
        span {
          font-size: 4vw;
          line-height: 1.2em;
        }
      }
    }
    #animation {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  .hero .week-1,
  .hero .week-2,
  .hero .week-3,
  .hero .week-4,
  .hero .week-5,
  .hero .week-6 {
    //background-image: none;
  }

  .mc-blue-arrow-btn {
    position: absolute;
    z-index: 2;
    @media (max-width: 767px) {
      display: none;
    }
  }

  #week-1-scroller {
    .mc-blue-arrow-btn {
      top: 50px;
      left: 54%;
    }
  }
  #week-2-scroller{
    .mc-blue-arrow-btn {
      top: 230px;
      left: 76%;
    }
  }
  #week-3-scroller {
    .mc-blue-arrow-btn {
      top: 445px;
      left: 79%;
    }    
  }
  #week-4-scroller {
    .mc-blue-arrow-btn {
      top: 547px;
      left: 53%;
    }    
  }
  #week-5-scroller {
    .mc-blue-arrow-btn {
      top: 400px;
      left: 16%;
    }    
  }
  #week-6-scroller {
    .mc-blue-arrow-btn {
      top: 125px;
      left: 11%;
    }   
  }

  .pl-sponsored-projects {
    padding: 30px 0;
    position: relative;
    background-color: #ebebeb;
    .triangle-block {
      width: 26px;
      height: 26px;
      background-color: #ebebeb;
      position: absolute;
      top: -13px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      @media (max-width: 450px) {
        display: none;
      }
    }
    h3 {
      color: #3fafed;
      font-size: 30px;
      line-height: 1.1em;
      margin-top: 140px;
      margin-bottom: 25px;
      text-transform: uppercase;
      @media (max-width: 767px) {
        margin-top: 30px;
      }
    }
    .btn-cyan {
      padding: 18px 50px;
      border-radius: 30px;
    }
    img {
      width: 110px;
      height: auto;
    }
    .pl-sponsored-blue {
      color: #3fafed;
      text-transform: uppercase;
      margin-top: 30px;
      line-height: 1.3em;
    }
    .pl-theme-sponsor {
      margin-top: 20px;
      span {
        font-size: 14px;
        color: #888;
        font-weight: 300;
      }
      img {
        padding-left: 3px;
      }
    }
    @media (max-width: 767px) {
      a {
        margin-top: 0;
      }
      .col-sm-push-6 > img {
        float: left;
        padding: 0 15px 15px 0;
      }
      .pl-sponsored-blue {
        margin-top: 0;
      }
      .col-sm-pull-6 {
        text-align: center;
      }
    }
  }


  .project-theme {
    padding: 60px 0;
    &:nth-child(even) {
      background-color: #ebebeb;
    }
    h2 {
      color: #3fafed;
      margin-top: 0;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    p {
      line-height: 1.6em;
      margin-bottom: 0;
      height: 100px;
    }
    h5 {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    hr {
      margin-top: 30px;
      margin-bottom: 30px;
      border-top: 1px solid #3fafed;
    }
    h3 {
      color: #3fafed;
      margin-top: 0;
      text-align: center;
      font-weight: 300;
    }
    @media (max-width: 767px) {
      .pl-theme-desc {
        margin-bottom: 15px;
        p {
          height: 100%;
        }
      }
    }
    .pl-theme-projects {
      display: flex;
      justify-content: space-between;
      @media (max-width: 767px) {
        flex-wrap: wrap;
        margin: 0 -15px;
      }
      .pl-theme-project {
        display: inline-block;
        width: 200px;
        text-align: center;
        @media (min-width: 768px) and (max-width: 991px) {
          width: 150px;
        }
        @media (max-width: 767px) {
          width: 50%;
          padding: 0 15px 15px;
          margin-bottom: 15px;
        }
        h4 {
            text-align: center;
            color: #444;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1.2em;
            margin-top: 0;
            margin-bottom: 10px;
            height: 45px;
            overflow: hidden;
            position: relative;
          span {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
        .pl-project-img-parent {
          width: 100%;
          height: 200px;
          overflow: hidden;
          display: block;
          .pl-project-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            transition: transform .2s cubic-bezier(0.4, 0, 1, 1);
          }
          @media (min-width: 768px) and (max-width: 991px) {
            height: 200px;
          }
          @media (min-width: 768px) and (max-width: 991px) {
            height: 150px;
          }
          @media (max-width: 767px) {
            height: 40vw;
          }
        }
        .btn-cyan {
          display: block;
          text-align: center;
          border-radius: 20px;
          margin-top: 10px;
        }
        &:hover {
          .pl-project-img {
            transform: scale(1.07);
            transition: transform .2s cubic-bezier(0.4, 0, 1, 1);
          }
          .btn-cyan {
            background-color: #029bd4;
            transition: background-color .2s;
          }
        }
      }
    }
    .container {
      position: relative;
      .pl-scroll-up {
        position: absolute;
        top: 0;
        right: -30px;
        color: #3fafed;
        cursor: pointer;
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }
}